[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
triogram = {editable = true, path = "."}

[dev-packages]
black = "*"
pyflakes = "*"
pytest = "*"
pytest-trio = "*"
pytest-cov = "*"
codecov = "*"
twine = "*"
